body {
  background: radial-gradient(
    circle at 11.7% 80.6%,
    rgb(249, 185, 255) 0%,
    rgb(177, 172, 255) 49.3%,
    rgb(98, 203, 255) 89%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
}

.weather-app {
  margin: 0 auto;
  padding: 30px;
  width: 600px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(30px);
  border-radius: 14px;
}

.search-input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 200px;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 20px;
}

.search-button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.daily-forecast {
  margin: 20px 15px;
  display: flex;
  justify-content: space-between;
}

.daily-forecast-item {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.daily-forecast-item p {
  margin: 0;
}

.forecast-emoji {
  font-size: 40px;
  margin-right: 10px;
}

.forecast-emoji h1 {
  margin: 0;
}

.forecast-city {
  font-size: 16px;
  margin-bottom: 6px;
}

.forecast-temp {
  display: flex;
  align-items: flex-start;
  font-size: 50px;
  font-weight: bold;
}

.forecast-unit {
  font-size: 20px;
  font-weight: normal;
}

.daily-forecast-date {
  text-align: right;
  line-height: 30px;
  margin-right: 10px;
}

.weekly-forecast {
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.weekly-forecast strong {
  color: #7544a8;
}

.weekly-emoji {
  font-size: 30px;
